# This is Git's per-user configuration file.
[user]
	name = Simon Howard
	email = fraggle@soulsphere.org

[init]
	defaultBranch = trunk

[url "git@github.com:"]
	insteadOf = https://github.com/

[url "git@bitbucket.org:"]
	insteadOf = https://bitbucket.org/

[diff]
	colorMovedWS = ignore-all-space
	colorMoved = true

[oh-my-zsh]
	hide-dirty = 1

[merge]
	conflictStyle = diff3

[diff "lesspipe"]
	textconv = lesspipe.sh

[core]
	attributesfile = ~/.gitattributes
	hooksPath = ~/.git-hooks

[alias]
	amend = commit --amend
	amendx = commit --amend --no-edit
	branches = !git-branches
	cgrep = grep -C5
	co = checkout
	diffc = diff --cached
	fix-url = !git-fix-url
	fixurl = !git-fix-url
	grog = log --graph --abbrev-commit --decorate --all --format=format:\"%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(dim white) - %an%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n %C(white)%s%C(reset)\"
	logp = log -p
	logs = log --stat
	origin = remote show -n origin
	pushf = push --force-with-lease
	qamend = !git-qcommit --amend
	qcommit = !git-qcommit
	resolve = !git-resolve
	statusf = status --untracked-files=no
	unstage = restore --staged

[filter "lfs"]
	clean = git-lfs clean -- %f
	process = git-lfs filter-process
	required = true
	smudge = git-lfs smudge -- %f

[filter "sort"]
	smudge = sort
	clean = sort

# vim: set noexpandtab tabstop=8 softtabstop=8 shiftwidth=8:
