# grep -o "*\\.[A-Za-z0-9][A-Za-z0-9\.]*" ~/.local/bin/lesspipe.sh | sed "s/$/  diff=lesspipe/" > ~/.gitattributes
*.mkv  diff=lesspipe
*.ogm  diff=lesspipe
*.avi  diff=lesspipe
*.wmv  diff=lesspipe
*.mpg  diff=lesspipe
*.mp4  diff=lesspipe
*.mov  diff=lesspipe
*.webm  diff=lesspipe
*.ogg  diff=lesspipe
*.mp3  diff=lesspipe
*.wav  diff=lesspipe
*.flac  diff=lesspipe
*.jpg  diff=lesspipe
*.jpeg  diff=lesspipe
*.gif  diff=lesspipe
*.png  diff=lesspipe
*.bmp  diff=lesspipe
*.pcx  diff=lesspipe
*.tiff  diff=lesspipe
*.Z  diff=lesspipe
*.gz  diff=lesspipe
*.tgz  diff=lesspipe
*.bz2  diff=lesspipe
*.xz  diff=lesspipe
*.lz diff=lesspipe
*.tar diff=lesspipe
*.cpio  diff=lesspipe
*.zip  diff=lesspipe
*.lzh  diff=lesspipe
*.pma  diff=lesspipe
*.lzs  diff=lesspipe
*.rar  diff=lesspipe
*.arj  diff=lesspipe
*.7z  diff=lesspipe
*.ace  diff=lesspipe
*.arc  diff=lesspipe
*.ark  diff=lesspipe
*.cab  diff=lesspipe
*.wad  diff=lesspipe
*.bin  diff=lesspipe
*.cap  diff=lesspipe
*.iso  diff=lesspipe
*.doc  diff=lesspipe
*.obj  diff=lesspipe
*.core  diff=lesspipe
*.deb  diff=lesspipe
*.mp3  diff=lesspipe
*.flac  diff=lesspipe
*.ogg  diff=lesspipe
*.jpg  diff=lesspipe
*.jpeg  diff=lesspipe
*.png  diff=lesspipe
*.gpg  diff=lesspipe
*.ttf  diff=lesspipe
*.ps  diff=lesspipe
*.pdf  diff=lesspipe
*.rtf diff=lesspipe
