Xft.dpi:       96
Xft.antialias: true
Xft.hinting:   true
Xft.rgba:      rgb
Xft.autohint:  false
Xft.hintstyle: hintslight

*background:              #c3c7cb
*foreground:              #000000

! Dark terminal background:
*VT100.background:  #000000
*VT100.foreground:  #eeeeee
*VT100*scrollBar: true
*VT100*allowWindowOps: true
Rxvt.background:    #000000
Rxvt.foreground:    #eeeeee

*VT100.saveLines: 100000
Rxvt.saveLines: 100000

*VT100*forceBoxChars: true
*VT100*faceName: xft:Fira Code,xft:Bitstream Vera Sans Mono,x:fixed
*VT100*faceSize: 11
*VT100*faceSize1: 7
*VT100*faceSize2: 8
*VT100*faceSize3: 10
*VT100*faceSize4: 12
*VT100*faceSize5: 14
*VT100*faceSize6: 16
*VT100*faceSize7: 18

! Enable sixels:
*VT100.decTerminalID: vt340
*VT100.numColorRegisters: 256

! More normal looking scrollbars; jump to location on click
*Scrollbar*thumb: None
*Scrollbar*minimumThumb: 20
*Scrollbar*background: #333
*Scrollbar*foreground: #aaa
*Scrollbar.translations: #override\
    <Btn1Down>: StartScroll(Continuous) MoveThumb() NotifyThumb() \n\
    <Btn2Down>: StartScroll(Forward) \n\
    <Btn3Down>: StartScroll(Backward) \n\
    <Btn1Motion>: MoveThumb() NotifyThumb() \n\
    <BtnUp>: NotifyScroll(Proportional) EndScroll()

! Tooltips
*Tip.background: #ffffd1

! Babys got blue eyes like a deep blue sea on a blue, blue day
XEyes*foreground:     #00a

! Nice clock :)  Mondaine-style red second hand
XClock*update: 1
XClock*geometry:          300x300
XClock.Clock.background:  #dddddd
XClock.Clock.majorColor:  rgba:00/00/00/ff
XClock.Clock.minorColor:  rgba:00/00/00/70
XClock.Clock.hourColor:   rgba:30/50/30/a0
XClock.Clock.minuteColor: rgba:30/30/50/a0
XClock.Clock.secondColor: rgba:a0/20/20/ff

!================================
! tango theme
!================================

*color0:                  #2e3436
*color1:                  #cc0000
*color2:                  #4e9a06
*color3:                  #c4a000
*color4:                  #3465a4
*color5:                  #75507b
*color6:                  #06989a
*color7:                  #d3d7cf
*color8:                  #555753
*color9:                  #ef2929
*color10:                 #8ae234
*color11:                 #fce94f
*color12:                 #729fcf
*color13:                 #ad7fa8
*color14:                 #34e2e2
*color15:                 #eeeeec

xclient*Buttons.foreground: blue

! Calculator

xcalc*geometry:               400x600
XCalc*Cursor:                 hand2

XCalc*screen*background:      #8b9886
XCalc*screen*LCD.foreground:  black
XCalc*screen*LCD.font:        -*-courier-bold-r-*-*-*-240-*-*-*-*-*-*

XCalc*ti.background: #e3e8ec
XCalc*ti.Command.shapeStyle:  roundedRectangle
XCalc*ti.Command.cornerRoundPercent:    10
XCalc*ti.Command.font: 9x15bold

XCalc*ti.Command.borderColor:  black
XCalc*ti.Command.background:   #e0d9d0
XCalc*ti.Command.foreground:   black

!  1 - 5    | 1/x  x^2  sqrt CE   AC
!  6 - 10   | INV  sin  cos  tan  DRG
!  7 - 15   | e    EE   log  ln   y^x
!  16 - 20  | not  and  or   xor  trunc
!  21 - 25  | pi   x!   (    )    base
!  26 - 30  | shl  D    E    F    shr
!  31 - 35  | mod  A    B    C    /
!  36 - 40  | STO  7    8    9    *
!  41 - 45  | RCL  4    5    6    -
!  46 - 50  | SUM  1    2    3    +
!  51 - 55  | EXC  0    .    +/-  =

XCalc*ti.button4.background:  #f3b337
XCalc*ti.button5.background:  #f3b337
XCalc*ti.button6.background:  #7dbb4c

XCalc*ti.button31.background: #b6b0a0
XCalc*ti.button35.background: #b6b0a0
XCalc*ti.button36.background: #b6b0a0
XCalc*ti.button40.background: #b6b0a0
XCalc*ti.button41.background: #b6b0a0
XCalc*ti.button45.background: #b6b0a0
XCalc*ti.button46.background: #b6b0a0
XCalc*ti.button50.background: #b6b0a0
XCalc*ti.button51.background: #b6b0a0
XCalc*ti.button55.background: #b6b0a0

XCalc*ti.button27.background: #fef7e4
XCalc*ti.button28.background: #fef7e4
XCalc*ti.button29.background: #fef7e4
XCalc*ti.button32.background: #fef7e4
XCalc*ti.button33.background: #fef7e4
XCalc*ti.button34.background: #fef7e4
XCalc*ti.button37.background: #fef7e4
XCalc*ti.button38.background: #fef7e4
XCalc*ti.button39.background: #fef7e4
XCalc*ti.button42.background: #fef7e4
XCalc*ti.button43.background: #fef7e4
XCalc*ti.button44.background: #fef7e4
XCalc*ti.button47.background: #fef7e4
XCalc*ti.button48.background: #fef7e4
XCalc*ti.button49.background: #fef7e4
XCalc*ti.button52.background: #fef7e4
XCalc*ti.button53.background: #fef7e4
XCalc*ti.button54.background: #fef7e4


! No tiny dialogs
Xmessage*nearMouse: TRUE
Xmessage*geometry: 400x150

! Proportional font
*.font:          -adobe-helvetica-bold-r-normal--12-120-75-75-p-70-iso8859-1
*editWindow*font: XtDefaultFont
Rxvt*font:        fixed

! 3d look:
*Command.internalWidth:         5
*Command.internalHeight:        3
*Command.borderColor:           gray40
*Command.shapeStyle:            Rectangle
*Command.displayList:\
foreground      gray60;\
lines           1,-1,-1,-1,-1,1;\
foreground      gray90;\
lines           -1,0,0,0,0,-1

*SimpleMenu.internalWidth:         5
*SimpleMenu.internalHeight:        3
*SimpleMenu.borderColor:           gray40
*SimpleMenu.shapeStyle:            Rectangle
*SimpleMenu.displayList:\
foreground      gray60;\
lines           1,-1,-1,-1,-1,1;\
foreground      gray90;\
lines           -1,0,0,0,0,-1

*MenuButton.internalWidth:         5
*MenuButton.internalHeight:        3
*MenuButton.borderColor:           gray40
*MenuButton.shapeStyle:            Rectangle
*MenuButton.displayList:\
foreground      gray60;\
lines           1,-1,-1,-1,-1,1;\
foreground      gray90;\
lines           -1,0,0,0,0,-1

! vim: ai:si:et:ts=4:sw=4:ft=xdefaults:

